#div1{
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    height: 800px;
}
#menu p{
        float:left;
        text-align: center;
        text-decoration: none;
        margin: 10px;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 12px;

        padding-left: 17px;
        padding-right: 17px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
        
    }
    #menu{
       overflow: hidden;
       justify-content: right;  
        align-items: center;
        display: flex;
        margin-left: 50px;
        margin-right: 50px;
        padding-top: 25px;

    }
    #menu p:hover{
      
        color:  #363434;
    }
    #menuTitle{
         width: 100%;
         
    }
    #menu h3{
        float:left;
        text-align: center;
        text-decoration: none;
        margin: 10px;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 20px;

        padding-left: 17px;
        padding-right: 17px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;     
        
    }
    #coverPhoto{
        background-color: #ffffff;
        width: auto;
        height: 550px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 100px;
        border-radius: 10px;
        display: flex;
        

    }
    #imageDiv{
        height: 100%;
        width: 50%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    #profileInfo{
        height: auto;
        width: 50%;
        padding: 20px;
    }
    #profileImage{
        height: 370px;
        width: 370px;
        position: absolute;
    }
    #aboutMyself{
        background-color: #ffffff;
        width: auto;
        height: 550px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 100px;
        border-radius: 10px;
        display: flex;
        
    }
    #shortInfo{
        height: auto;
        width: 50%;
        padding: 20px;

    }
    #skills{
        height: auto;
        width: 50%;
        padding: 20px;
    }
    #shortInfo p{
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        color: #777777;
    }
    .squareShape{
        border: 2px solid #d1c8c8;
        width: 33%;
        height: 100px;
        margin: 20px;
        border-radius: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

    }
    .squareShape p b{

        font-size: 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        color: #777777;

    }
    .squareShape a b{

        font-size: 17px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        color: #000000;

    }
    #parentDiv{

        float: left;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100px;
        align-items: center;
        display: flex;
        margin-top: 20px;

    }
    #blogDiv{
        height: 800px;
        width: 100%;
    }
    #blogDiv h1{
        text-align: center;
        color: #000000;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
    }
    #blogParentDiv{
        float: left;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 300px;
        align-items: center;
        display: flex;
        margin-top: 20px;

    }
    .blogsquareShape{
        border: 2px solid #d1c8c8;
        width: 33%;
        height: 300px;
        margin: 20px;
        border-radius: 5px;
        padding: 20px;
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);



    }
    .blogsquareShape a b{
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        font-size: 25px;
        color: #000000;
        

    }
    .blogsquareShape  p{
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
        font-size: 15px;
        color:#3c3b3b;
        margin-top: 20px;
        

    }


    
